<div class="container">
<h2 style="text-align: center">ANGULAR + ASP.NET CORE CRUD</h2>
<div>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/banks" routerLinkActive="active">Banks</a></li>
    <li><a class="active" routerLink="/cards" routerLinkActive="active">Cards</a></li>
    <li><a routerLink="/fds" routerLinkActive="active">Fixed Deposits</a></li>
    <li><a routerLink="/loans" routerLinkActive="active">Loans</a></li>
  </ul>
</div>
<router-outlet></router-outlet>
</div>
